.course-for-today {

	&__label {
		font-size 14px
		@media (min-width $sm) {
			font-size 18px
		}
	}

	&__value {
		font-size 16px
		font-weight 700


		@media (min-width $xs) {
			font-size 20px
		}

		@media (min-width $sm) {
			font-size 30px
			font-weight 700
		}
	}
}

.call-center {
	width auto

	&__number {
		margin-bottom 10px
		font-size 22px
		color white
	}

	&__button {
		width 200px
	}
}

.stats {
	display table
	vertical-align: middle
	line-height: 16px
	


	&__icon {
		padding-right 10px
	}

	&__icon,
	&__text {
		display table-cell
		vertical-align middle
	}

	&__icon {}

	&__text {}
}
