$xs = 480px
$sm = 768px
$md = 992px
$lg = 1160px

$color-cornflower = #4ea9e9

$color-yellow =  #ffda00
$color-green = #56c520
$color-yellow-green = #afc62b
$color-signal-orange = #ff9c00
$color-mauve = #d4c1ff
$color-deep-purple = #2e2f7e
$color-ultramarine-blue = #1b1c4a
$color-cornflower = #4EA9E9
$color-gray-brown = #343434
$color-gray = #808080
