footer.section-foo.text_color_white
	.container: .row: .col-xs-12
		.section-foo__container
			.section-foo__column.section-foo__column_company
				img.section-foo__logo(src="images/logo-inverse.svg" width="150" heihgt="44" alt="Logo: Super Taobao")
			.section-foo__column.section-foo__column_nav.hidden-xs.hidden-sm
				nav.section-foo__nav.nav-foo
					ul.nav-foo__list
						li.nav-foo__item: a.nav-foo__link(href="#") О нас
						li.nav-foo__item: a.nav-foo__link(href="#") Чат
						li.nav-foo__item: a.nav-foo__link(href="#") Форум
						li.nav-foo__item: a.nav-foo__link(href="#") Условия
						li.nav-foo__item: a.nav-foo__link(href="#") Отзывы
						li.nav-foo__item: a.nav-foo__link(href="#") Товары
						li.nav-foo__item: a.nav-foo__link(href="#") Вход/ Регистрация
			.section-foo__column.section-foo__column_course
				
			.section-foo__column.section-foo__column_info: .section-foo__sides
				.section-foo__side.section-foo__side_course
					.section-foo__course.course-for-today
						.course-for-today__label Курс на сегодня
						.course-for-today__value 1 ¥ - 
							span.text_color_yellow 9,5 
								span.rubl
					
				
				.section-foo__side.section-foo__side_schedule: .section-foo__schedule
					| 18 54 Москва Рабочий день с 4:00 до 13:00
					br
					| 23 54 Пекин Рабочий день с 9:00 до 18:00
					br
					| ВЫХОДНОЙ ВОСКРЕСЕНЬЕ
