section.section-order.text-center
	.container-fluid: .row: .col-xs-12
		h2.h2.section-order__title Добавьте свой первый товар
		p.p.section-order__slogan Убедитесь в том, как это удобно

		form.section-order__form
			input.section-order__field(type="url" placeholder="Вставьте ссылку на страницу товара")
			button.section-order__button.button.button_size_md.button_theme_yellow Добавить
		p.p.section-order__note Укажите в этом поле ссылку на страницу товара с сайта 
			a.link(href="#") taobao.com
			|, 
			a.link(href="#") tmall.com
			|  или 
			a.link(href="#") 1688.com
