script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js")

<!--[if lte IE 9]>
script(src="js/jquery.columnizer.js")
script.
	$('.nav-foo').columnize({ columns: 2 });
	$('.checkbox-list__list').columnize({ columns: 2 });

<![endif]-->
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.sticky/1.0.4/jquery.sticky.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/svg4everybody/2.1.9/svg4everybody.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/Hyphenator/3.2.0/Hyphenator.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.js")
script(src="http://cdn.jsdelivr.net/jquery.slick/latest/slick.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/scrollup/2.4.1/jquery.scrollUp.min.js")
script(src="js/main.js?ts=" + ts)
